/__pycache__/
/build/
/dist/
/WebScraper.spec
/WebScraper.spec.spec
/WebScraper.spec.spec.spec
/WebScraper.spec.spec.spec.spec
/WebScraper.spec.spec.spec.spec.spec
/WebScraper.spec.spec.spec.spec.spec.spec
/WebScraper.spec.spec.spec.spec.spec.spec.spec
/WebScraper.spec.spec.spec.spec.spec.spec.spec.spec
/build
/playwright-browsers